---
layout: page
title: Reports
---

<p>
	This page contains a list of links to examples of my work. Some of the reports are from University Work, some are from Personal Projects. Depending upon how much
	time I had to complete them they will be of varying quality; I hope you find them useful and informative. If you have any questions please get in touch!
</p>

{% for section in site.data.reports %}
	<h2> {{ section.title }} </h2>
	
	{% for entry in section.subsections %}
		<h3> {{ entry.title }} </h3>
		
		<ul>
			{% for subcatagory in entry.subcategories %}
				<li> <a href="{{ subcatagory.href}}"> {{ subcatagory.title }} - {{ subcatagory.date }} </a> </li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endfor %}